.Link{
    &::after{
        content: "";
        display: block;
        height: 2px;
        background-color: #00a4ff;
        margin: 0 auto;
        width: 0%;
        transition: all .2s 0s ease-in-out;
    }
    &:hover{
        b{ color: #00a4ff;transition: all .2s 0s ease-in-out; }
        &::after{
            width: 100%;
        }
    }
}